@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #eeeff4;
}

.cards-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 300px; */
}

.cards-wrap .card {
    padding: 15px 25px;
}

.cards-wrap .card-inner {
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    width: 325px;
    min-height: 215px;
}

.header {
    width: 100%;
    height: 50px;
    background: #468678;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 750;
}

.peak {
    font-size: 2rem;
}

.footer {
    width: 100%;
    height: 50px;
    background: #468678;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 750;
}

.footer2 {
    width: 100%;
    height: 50px;
    background: #468678;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 750;
}

.footer2 a{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.cards-wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-wrap .card-inner h2{
    color: #468678;
    font-weight: 750;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrap .card-inner p{
    color: #7b8ca0;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-wrap .card-inner .btn{
    width: 40px;
    background: white;
    color: #468678;
    border-radius: 15px;
    border: 2px solid black;
    padding: 2px;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
    margin: 5px;
}

.cards-wrap .card-inner button:hover{
    background: #468678;
    color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
  display: flex;
  justify-content: right;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrap .card-inner-dashboard {
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    width: 325px;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrap .card-inner-dashboard .link {
    color: #468678;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.sleeve {
    background: #fff;
    font-size: 20px;
    color: #468678;
    border-radius: 5px;
    padding: 35px 20px;
    margin: 15px;
    width: 325px;
    display: block;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.card-inner-today {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.repsWeight {
    display: inline;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sets {
    display: flex;
    justify-content: left;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.weight{
    display: flex;
    justify-content: left;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}